* {
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
}

p {
  font-size: 18px;
}

html, body {
  background-color: #fafafa;
}

.dropdown {
  background-color: white;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.visibility {
  visibility: visible;
  opacity: 1;
}

.arrowShow {
  display: inline-block;
}

.arrowHide {
  display: none;
}

.blackBack {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav img {
  padding: 1rem;
}

nav img.mobileLogo {
  display: none;
}

nav img.burgerMenu {
  display: none;
}

nav img.closeMenu {
  display: none;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

nav div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav div ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav div ul li a {
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  border: 1.5px solid #fafafa;
  border-radius: 10px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

nav div ul li a.register {
  border-color: black;
}

nav div ul li a img {
  padding: 0;
  padding-left: 0.2rem;
}

nav div ul li.subList {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 4;
}

nav div ul li.subList ul.dropdown {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 100%;
  right: 1rem;
}

nav div ul li.subList ul.dropdown li {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav div ul li.subList ul.dropdown li a {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 0.5rem 0.8rem;
}

nav div ul li.subList ul.dropdown li a img {
  padding: 0;
  padding-right: 0.2rem;
}

nav div ul li.subList#company ul.dropdown {
  right: 0;
  left: 1rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  padding: 2rem 4rem;
}

main section {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main section.content h1 {
  font-size: 80px;
}

main section.content h1.mobileH1 {
  display: none;
}

main section.content p {
  color: dimgray;
  width: 60%;
  padding: 2rem 0;
}

main section.content button {
  border: 1.5px solid black;
  border-radius: 10px;
  background-color: #fafafa;
  font-weight: 700;
  margin-bottom: 3rem;
  padding: 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

main section.content button:hover {
  background-color: black;
  color: white;
}

main section.content div.mark {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
}

main section.content div.mark img {
  width: 20%;
}

main section.pic {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.pic img {
  width: 80%;
}

main section.pic img.mobileImg {
  display: none;
}

@media screen and (max-width: 776px) {
  main {
    padding: 0;
  }
  main section.content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.content div.mark {
    position: static;
    width: 90%;
  }
  main section.content div.mark img {
    width: 22%;
  }
  main section.content button {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
  main section.pic {
    padding: 0;
  }
  main section.pic img.desktopImg {
    display: none;
  }
  main section.pic img.mobileImg {
    display: block;
    width: 100vw;
  }
}

@media screen and (max-width: 646px) {
  nav img.mobileLogo {
    display: block;
  }
  nav img.burgerMenu {
    display: block;
    cursor: pointer;
  }
  nav img.closeMenu {
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: block;
    cursor: pointer;
  }
  nav div {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav div#membership {
    position: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 0;
    right: 0;
    z-index: 5;
  }
  nav div#membership ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.55rem;
  }
  nav div#menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
    background-color: #fafafa;
    height: 100vh;
  }
  nav div#menu img#logo {
    display: none;
  }
  nav div#menu ul.option {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
  nav div#menu ul.option li {
    margin: 0;
  }
  nav div#menu ul.option li.subList ul.dropdown {
    position: static;
    visibility: visible;
    opacity: 1;
    -webkit-transition: none;
    transition: none;
    background-color: #fafafa;
    display: none;
  }
  nav div#menu ul.option li.subList ul.dropdown li a {
    padding: 0.5rem 0;
  }
  main section.content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.content h1.desktopH1 {
    display: none;
  }
  main section.content h1.mobileH1 {
    display: block;
    font-size: 40px;
    text-align: center;
    padding: 1rem 0;
  }
  main section.content p {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  main section.content button {
    background-color: black;
    color: white;
    margin-top: 2rem;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  main section.content button:hover {
    background-color: #fafafa;
    color: black;
  }
}
/*# sourceMappingURL=style.css.map */